* {
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    background: #1e1a20;
}

.webgl {
    position: fixed;
    top: 0;
    left: 76vw;
    outline: none;
}

.container {
    display: flex;
    position: relative;
    margin: 0 24vw 0 20px;
}

header {
    align-items: flex-end;
    height: 140px;
    text-transform: uppercase;
    color: #ffeded;
    font-size: 2.0rem;
}

header h1 {
    margin: 0 0 -6px -3px;
}

.links {
    display: flex;
    position: relative;
    gap: 10px;
    padding-left: 10px;
}

img.logo {
    height: 30px;
    margin: 0;
}

.summary {
    color: #ffeded;
    font-size: 1.5rem;
}

.highlights {
    flex-direction: column;
    color: #ffeded;
    white-space: normal;
    font-size: 1rem;
    max-width: 700px;
}

a.publications:link, a.publications:visited {
    color: #ffeded;
    text-decoration: none;
}

a.publications:hover {
    color: #50fa7b;
    text-decoration: underline;
}